@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <form method="post">
        <textarea  ></textarea>        
        <input type="submit"/>
    </form>
</div>